<div class="col-md-4">

  <table class="table table-hover table-striped">
    <tbody>
    <tr>
      <th><%= I18n.t('labels.ip_details.ip') %></th>
      <td><%= @ip_details.display_format(value: @ip_details[:query]) %></td>
    </tr>
    <tr>
      <th><%= I18n.t('labels.ip_details.provider') %></th>
      <td>
        <a href="<%= "#{@ip_details.org_search_url(org: @ip_details[:org])}" %>" target="_blank">
          <%= @ip_details.display_format(value: @ip_details[:org]) %> </a>
      </td>
    </tr>
    <tr>
      <th><%= I18n.t('labels.ip_details.hostname') %></th>
      <td><%= @ip_details.display_format(value: @ip_details[:isp]) %></td>
    </tr>
    <tr>
      <th><%= I18n.t('labels.ip_details.country') %></th>
      <td>
        <span class="flag-icon flag-icon-<%= @ip_details.country_code(code: @ip_details[:countryCode]) %>"></span>
        <%= @ip_details.region_country_format(name: @ip_details[:country], code: @ip_details[:countryCode]) %>
      </td>
    </tr>
    <tr>
      <th><%= I18n.t('labels.ip_details.city') %></th>
      <td><%= @ip_details.display_format(value: @ip_details[:city]) %></td>
    </tr>
    <tr>
      <th><%= I18n.t('labels.ip_details.region') %></th>
      <td><%= @ip_details.region_country_format(name: @ip_details[:regionName], code: @ip_details[:region]) %></td>
    </tr>
    <tr>
      <th><%= I18n.t('labels.ip_details.postal_code') %></th>
      <td><%= @ip_details.display_format(value: @ip_details[:zip]) %></td>
    </tr>
    <tr>
      <th><%= I18n.t('labels.ip_details.longitude') %></th>
      <td><%= @ip_details.display_format(value: @ip_details[:lon]) %></td>
    </tr>
    <tr>
      <th><%= I18n.t('labels.ip_details.latitude') %></th>
      <td><%= @ip_details.display_format(value: @ip_details[:lat]) %></td>
    </tr>
    <tr>
      <th><%= I18n.t('labels.ip_details.timezone') %></th>
      <td><%= @ip_details.display_format(value: @ip_details[:timezone]) %></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-md-8">
  <div id="map_div" style="height: 360px;"></div>
</div>

<script>

    ipLocation.initMap('<%= @ip_details[:lat] %>', '<%= @ip_details[:lon] %>')

</script>